@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'DIN-Light';
  src: local('DIN-Light'), url(../assets/fonts/din/DIN-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'DIN-Heavy';
  src: local('DIN-Heavy'), url(../assets/fonts/din/DIN\ Next\ LT\ W04\ Heavy.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --blue: 0,80,255;
  --skin: 244,236,230;
  --skin-dark: 230,218,206;
  --montserrat: 'Montserrat', sans-serif;
  --poppins: 'Poppins', sans-serif;
  --din-light: "DIN-Light";

  --primary-bg: rgb(var(--blue));
  --skin-bg: rgb(var(--skin));
  --skin-dark-bg: rgb(var(--skin-dark));
  --primary-text: black;
  --ff-heading: var(--poppins);
  --ff-text: var(--din-light);
  --ff-din-heavy: "DIN-Heavy";
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: white;
}
h1,h2,h3,h4,h5{
  font-family: var(--ff-heading);
}

h1{
  font-size: 37px;
}
h2{
  font-size: 32px;
}
h3{
  font-size: 27px;
}
h4{
  font-size: 22px;
}
h5{
  font-size: 17px;
}
p{
  font-family: var(--ff-text);
  font-size: 14px;
}